@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    width: 100%;
    height:100%;
  }

body {
	font-family: "Open Sans", Times, serif;
    /*font-family:"Open Sans";*/
    background: linear-gradient(-45deg, #754334, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.main {
	margin-left: 10px;
	margin-top: 100px;
}
.question {
	font-size: 2em;
}

ul {
	list-style: none;
}
li {
	text-decoration: none;
	border: 1px solid lightgray;
	margin:10px;
	padding: 10px;
}

.dropdown {
	margin-right: 3px;
	/*z-index: 999;*/
	position: absolute;
	top: 115px;
	padding-left: 0;
	box-shadow: 1px 1px 10px ;
  /*dropdow is hidden by default*/
	display: none; 
}

.wrapper {
	background: #fbfcfa;
	padding: 3px 15px;
	border-radius: 4px;
	width: 100px;
}
.dropdown li {
	
	border: 0px;
	font-size: 0.9em;
	width:100px;
	margin: 0px;
	background: white;
}

li:hover {
    background: #0f0f0f;
    color: white;
}
/*disable hover effect when li tag is selected*/
.selected, .selected:hover {
    background: #ECEEF0;
    color: black;
}

.correct, .correct:hover {
	background: #aadb49;
	color: white;
}

.wrong, .wrong:hover {
	background: rgb(218, 45, 45);
	color: white;
}

button {
	padding:5px 14px;
	font-size: 1.1em;
	border:none;
	border-radius: 5px;
}
.submit {
	color: black;
	background: #f9f9fc;
}
.next {
    background: #0a0a0a;
    color: white;
}
.finalize {
	color: black;
	background: #f9f9fc;
}
.back {
	background: white;
}
.doNotDisplay {
	display: none;
}

td,th {
	border:1px solid rgb(243, 239, 239);
	padding: 10px;
	text-transform: uppercase;
	font-weight: 700;
	/*font-size:14px;*/
}

th {
	border-bottom:3px  white;
	background: #C2CCE0;
}

table {
	border:2px solid white;
	border-spacing: 0px;
    border-collapse: collapse;
    align-content: center;
}

td {
	cursor:pointer;
}

.questionCol {
	color: white;
}
.correctCol {
	color: #88db14;
}
.wrongCol {
	color: #e6183e;
}
.pAboveTable {
	font-size: 1.4em;
}
/*tr {
	cursor:pointer;
}*/

